
<style>
.panel-body a
    {
        word-break:break-all;
    }
.sameLine {display: inline-block;}
button {margin-left: 10px;
        outline: none;
        border: none;
        background: none;}
.categoryUL {display: none;}
.inlineB {display: inline-block;
          vertical-align: top;
          width: 300px;}
/*.ingredients {overflow: scroll; }*/
.ingredients {height: 35em;
              overflow:scroll;
              border:7px solid;
              padding:1%; }
.allOutStyle {
  background-color: grey;
  font-weight: 200;
}
.inPantryStyle {
  background-color: green;
  font-weight: bold;
}

#ingrTable {
  border: 2px solid black;
  min-height: 100px;
  width: 500px;
}

</style>


<section id="addRecipe">
  <div class="container">


    <div class="row">
      <div class="container col-md-12">

        <div class="containerTitle">
          <h2 class="heading"><span>Add Your Recipe!</span></h2>
        </div> {{!-- .containerTitle --}}
      </div> {{!-- .container col-md-12 --}}
    </div> {{!-- .row --}}

    <form class="create-update-form" id="addRecipeForm" >
      <div class="row">
        <div class="container col-md-12">
          <label for="recipe">Recipe Name: </label>
          <input type="text" class="form-control" id="title">

          <label for="cuisine">Cuisine: </label>
          <input type="text" class="form-control" id="cuisine">

          <label for="type">Type: </label>
          <input type="text" class="form-control" id="type">

          <label for="prepMins">Preparation Minutes: </label>
          <input type="text" class="form-control" id="prepMins">

          <label for="cookMins">Cooking Minutes: </label>
          <input type="text" class="form-control" id="cookMins">

          <label for="servings">Servings: </label>
          <input type="text" class="form-control" id="servings">


        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-8 ingredients">
          <label for="ingredient">Recipe Ingredients </label>
          <br>
          <table id="ingrTable">

          </table>
          <br>
          <input type="text" class="form-control" id="ingredientName">
          <input type="text" class="form-control" id="ingredientAmount">
          <input type="text" class="form-control" id="ingredientUnit">
          <button type="button" class="btn btn-default form-control" id="addToList">Add Ingredient</button>
        </div> {{!-- .col-xs-12 col-md-6 --}}

        <div class="col-xs-12 col-md-4 ingredients">
          <label for="list">Ingredient List: </label>

          <div class="container inlineB pantry">
            <div class="containerTitle">
              </br>
              <div class="ingredientContainer" id="pantryList">
              {{! ***** ingredients grouped by categories go here}}
              {{#each categories}}
                <div>
                  <h4 class="categorySection">{{this.className}}</h4>
                  <ul class = "categoryUL catID{{this.id}}">

                  </ul>
                </div>
              {{/each}}
              </div>
            </div> {{!-- .containerTitle --}}
          </div> {{!-- container inlineB pantry --}}
        </div> {{!-- .col-xs-12 col-md-6 --}}
      </div> {{!-- .row --}}



      <div class="row">
        <div class="container col-md-12">

            <label for="preferences">Special Diet: </label>
            <br>
              <label class="checkbox-inline"><input type="checkbox" value="1" id="vegan">Vegan</label>
              <label class="checkbox-inline"><input type="checkbox" value="1" id="vegetarian">Vegetarian</label>
              <label class="checkbox-inline"><input type="checkbox" value="1" id="glutenFree">Gluten-Free</label>

            <br>
            <br>



            <label for="instructions">Instructions: </label>
            <textarea class="form-control" rows="8" id="instructions" id="instructions"></textarea>

            {{!-- form submit button  --}}
            <button type="button" id="submitRecipe" class="btn btn-default form-control" align="center">Add Recipe</button>

        </div>{{!-- .container col-md-12 --}}
      </div>{{!-- .row --}}
    </form>
  </div>{{!-- .container --}}
</section>{{!-- #addRecipe --}}

<script>
 {{! *** CREATE THE HTML FOR EACH INGREDIENT **** --}}
  {{! ********* AND APPEND IT TO THE APPROPRIATE DIVISION ******* --}}

  {{#each ingredients}}

    var ingredientLI = $('<li>');

    var statusStyle =({{this.inPantry}} ? "inPantryStyle" : "allOutStyle");
    var changeStatusTo = ({{this.inPantry}} ? "0" : "1");

    ingredientLI.append('<button data-id="{{this.id}}" data-pantryStatus="' + changeStatusTo + '" data-name="{{this.name}}" class="ingrButton ' + statusStyle + '" type="button">{{this.name}}</button>');


    $('#pantryList').find('.catID{{this.CategoryId}}').append(ingredientLI);
  {{/each}}

$(document).ready(function() {

  var recipeInfo = {};
  var ingredientInfo = [];
  var pendingIngredient = {};

  $('.categorySection').on('click', function(event){
    console.log("this was clicked");
    event.stopPropagation();
    $(this).closest('div').find('.categoryUL').slideToggle();
    });

    $('#pantryList').on('click', '.ingrButton', function(){
    event.stopPropagation();
    pendingIngredient.id = $(this).attr('data-id');
    pendingIngredient.name = $(this).attr('data-name');
    $('#ingredientName').val(pendingIngredient.name);
  });

  $('#addToList').on('click', function(){
    ingredientInfo.push({
      id: (pendingIngredient.id || ""),
      name: pendingIngredient.name,
      amount: $('#ingredientAmount').val().trim(),
      unit: $('#ingredientUnit').val().trim()
      });

    pendingIngredient = {};
    var lastIndex = (ingredientInfo.length - 1);
    var ingrTable = $('#ingrTable');
    ingrTable.append('<tr><td>' + ingredientInfo[lastIndex].name + '</td><td>' + ingredientInfo[lastIndex].amount + '</td><td>' + ingredientInfo[lastIndex].unit + '</td></tr>');

    $('#ingredientName').val("");
    $('#ingredientAmount').val("");
    $('#ingredientUnit').val("");
  });

  $('#submitRecipe').on('click', function(){
    event.stopPropagation();
    console.log("ingredientInfo: ", ingredientInfo);
    var recipeTitle = $('#title').val().trim();
    if (recipeTitle) {

      var data = {
        title: recipeTitle,
        cuisine: $('#cuisine').val().trim(),
        type: $('#type').val().trim(),
        vegan: $('#vegan').val().trim(),
        vegetarian: $('#vegetarian').val().trim(),
        glutenFree: $('#glutenFree').val().trim(),
        servings: $('#servings').val().trim(),
        preparationMinutes: $('#prepMins').val().trim(),
        cookingMinutes: $('#cookMins').val().trim(),
        instructions: $('#instructions').val().trim(),
        spoonID: 0,
        ingredients: ingredientInfo
      };
      $.ajax({
        type: 'POST',
        data: JSON.stringify(data),
        contentType: 'application/json',
        url: 'addRecipe'
        })
    } else
    { console.log("need a recipe title");}
  });
});

</script>


