
<style>


.sameLine {
  display: inline-block;
}

.categoryUL {
  display: none;
}

#instructions{
  max-height: 500px;
  overflow-y: auto;
}
.instructions::-webkit-scrollbar{
  display: none;
}

.allOutStyle {
  background-color: grey;
  font-weight: 200;
}
.inPantryStyle {
  background-color: green;
  font-weight: bold;
}

.ingredientContainer {
  max-height: 430px;
}

#addToList {
  margin: 30px auto;

  position: absolute;
}

#submitRecipe {
  margin: 30px auto;
  font-weight: 600;
  color: red;
  background: buttonface;
  height: 50px;
  border: 2px solid red;
}


table {
  min-height: 250px;
}


</style>


{{!-- ************* MAIN HEADING ********************************** --}}
<div class="background-area content">
  <div class="containerTitle blurBackground">
    <h1 class="heading">Add A Recipe</h1>
  </div>

  <section id="addRecipe">
    <div class="container">

      <form class="create-update-form" id="addRecipeForm" >
        <div class="row"> {{!-- .row --}}
          <div class="col-md-12"> 


            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">Basic Info
                </div>
                <div class="panel-body">

                  <div class="form-group">
                    <label for="recipe">Recipe Name: </label>
                    <input type="text" class="form-control" id="title">
                  </div> {{!-- .form-group --}}

                  <div class="form-group">
                    <label for="cuisine">Cuisine: </label>
                    <select class="form-control" id="cuisine">
                        <option value="any" selected>Any</option>
                        <option value="African">African</option>
                        <option value="American">American</option>
                        <option value="British">British</option>
                        <option value="Cajun">Cajun</option>
                        <option value="Caribbean">Caribbean</option>
                        <option value="Chinese">Chinese</option>
                        <option value="Eastern+European">Eastern European</option>
                        <option value="German">German</option>
                        <option value="Greek">Greek</option>
                        <option value="Indian">Indian</option>
                        <option value="Irish">Irish</option>
                        <option value="Italian">Italian</option>
                        <option value="French">French</option>
                        <option value="Japanese">Japanese</option>
                        <option value="Jewish">Jewish</option>
                        <option value="Korean">Korean</option>
                        <option value="Latin+American">Latin American</option>
                        <option value="Mexican">Mexican</option>
                        <option value="Middle+Eastern">Middle Eastern</option>
                        <option value="Southern">Southern</option>
                        <option value="Spanish">Spanish</option>
                        <option value="Thai">Thai</option>
                        <option value="Vietnamese">Vietnamese</option>
                        <option value="Nordic">Nordic</option>
                    </select>
                  </div> {{!-- .form-group --}}

                  <div class="form-group">
                    <label for="type">Type: </label>
                    <select class="form-control" id="type">
                      <option value="any">Any</option>
                      <option value="appetizer">Appetizer</option>
                      <option value="beverage">Beverage</option>
                      <option value="bread">Bread</option>
                      <option value="breakfast">Breakfast</option>
                      <option value="dessert">Dessert</option>
                      <option value="drink">Drink</option>
                      <option value="main+course">Main Course</option>
                      <option value="salad">Salad</option>
                      <option value="sauce">Sauce</option>
                      <option value="side+dish">Side Dish</option>
                      <option value="soup">Soup</option>
                    </select>
                  </div> {{!-- .form-group --}}

                  <div class="form-group">
                    <label for="prepMins">Preparation Minutes: </label>
                    <input type="text" class="form-control" id="prepMins">
                  </div> {{!-- .form-group --}}

                  <div class="form-group">
                    <label for="cookMins">Cooking Minutes: </label>
                    <input type="text" class="form-control" id="cookMins">
                  </div> {{!-- .form-group --}}

                  <div class="form-group">
                    <label for="servings">Servings: </label>
                    <input type="text" class="form-control" id="servings">
                  </div> {{!-- .form-group --}}

                  <div class="form-group">
                    <label class="checkbox-inline">Vegan</label>
                    <input type="checkbox" value="1" id="vegan">
                  </div> {{!-- .form-group --}}

                  <div class="form-group">
                    <label class="checkbox-inline">Vegetarian</label>
                    <input type="checkbox" value="1" id="vegetarian">
                  </div> {{!-- .form-group --}}


                  <div class="form-group">
                    <label class="checkbox-inline">Gluten-Free</label>
                    <input type="checkbox" value="1" id="glutenFree">
                  </div> {{!-- .form-group --}}


                </div> {{!-- .panel-body --}}
              </div> {{!-- .panel panel-default --}}
                    
            </div> {{!-- .container col-md-x --}}


            <div class="container col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">Instructions
                </div>
                <div class="panel-body">
                  <div class="form-group">

                    <label for="instructions">Instructions: </label>
                    <textarea class="form-control" rows="8" id="instructions" id="instructions"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div> {{!-- .col-md-12 --}}
        </div> {{!-- .row --}}



        <div class="col-md-12">

          <div class="panel panel-default">
            <div class="panel-heading">Ingredients
            </div>
            <div class="panel-body">

              <div class="row">
                <div class="col-md-8">
                  <table class="table borderTable" id="ingrTable">
                    <tr>
                      <th>Ingredient</th>
                      <th>Amount</th>
                      <th>Unit</th>
                    </tr>
                  </table>
                  <br>

                  <div class="row">
                    <div class="col-md-4">

                      <label for="ingredientName">Choose Ingredient</label>
                      <input type="text" class="form-control" id="ingredientName">
                    </div>{{!-- .col-md-4 --}}

                    <div class="col-md-2">
                      <label for="ingredientAmount">Amount: </label>
                      <input type="text" class="form-control" id="ingredientAmount">
                    </div>{{!-- .col-md-2 --}}

                    <div class="col-md-2">
                      <label for="ingredientUnit">Units: </label>
                      <input type="text" class="form-control" id="ingredientUnit">
                    </div>{{!-- .col-md-2 --}}
                  </div>{{!-- .row --}}
                </div> {{!-- .col-md-8 --}}

                <div class="col-md-4">
                  <label for="list">Ingredient List: </label>

                  <div class="panel-body scroll-area">
                    <div class="ingredientContainer" id="pantryList">
                      {{! ***** ingredients grouped by categories go here}}
                      {{#each categories}}
                        <div>
                          <h4 class="categorySection">{{this.className}}</h4>
                          <ul class = "categoryUL catID{{this.id}}">

                          </ul>
                        </div>
                      {{/each}}
                    </div> {{!-- .ingredientContainer --}}
                  </div> {{!-- /scroll-area --}}
                </div>


                <div class="col-md-8">
                  <button type="button" class="btn btn-default form-control" id="addToList">Add Ingredient</button>
                </div> {{!-- .col-md-8 --}}


              </div> {{!-- .row --}}
            </div> {{!-- .panel-body --}}
          
          </div> {{!-- .panel panel-default --}}
        </div class="container col-md-12">

        {{!-- form submit button  --}}
        <button type="button" id="submitRecipe" class="btn btn-default form-control" align="center">Add Recipe</button>


      </form>
    </div>{{!-- .container --}}
  </section>{{!-- #addRecipe --}}
</div>






<script>
  {{! *** CREATE THE HTML FOR EACH INGREDIENT ****}}
  {{! ********* AND APPEND IT TO THE APPROPRIATE DIVISION *******}}

  {{#each ingredients}}

    var ingredientLI = $('<li>');

    var statusStyle =({{this.inPantry}} ? "inPantryStyle" : "allOutStyle");
    var changeStatusTo = ({{this.inPantry}} ? "0" : "1");

    ingredientLI.append('<button data-id="{{this.id}}" data-pantryStatus="' + changeStatusTo + '" data-name="{{this.name}}" class="ingrButton ' + statusStyle + '" type="button">{{this.name}}</button>');


    $('#pantryList').find('.catID{{this.CategoryId}}').append(ingredientLI);
  {{/each}}




$(document).ready(function() {

  var recipeInfo = {};
  var ingredientInfo = [];
  var pendingIngredient = {};

  $('.categorySection').on('click', function(event){
    console.log("this was clicked");
    event.stopPropagation();
    $(this).closest('div').find('.categoryUL').slideToggle();
    });

    $('#pantryList').on('click', '.ingrButton', function(){
    event.stopPropagation();
    pendingIngredient.id = $(this).attr('data-id');
    pendingIngredient.name = $(this).attr('data-name');
    $('#ingredientName').val(pendingIngredient.name);
  });

  $('#addToList').on('click', function(){
    ingredientInfo.push({
      id: (pendingIngredient.id || ""),
      name: pendingIngredient.name,
      amount: $('#ingredientAmount').val().trim(),
      unit: $('#ingredientUnit').val().trim()
      });

    pendingIngredient = {};
    var lastIndex = (ingredientInfo.length - 1);
    var ingrTable = $('#ingrTable');
    ingrTable.append('<tr><td>' + ingredientInfo[lastIndex].name + '</td><td>' + ingredientInfo[lastIndex].amount + '</td><td>' + ingredientInfo[lastIndex].unit + '</td></tr>');

    $('#ingredientName').val("");
    $('#ingredientAmount').val("");
    $('#ingredientUnit').val("");
  });

  $('#submitRecipe').on('click', function(){
    event.stopPropagation();
    console.log("ingredientInfo: ", ingredientInfo);
    var recipeTitle = $('#title').val().trim();
    var servings = (isNaN($('#servings').val()) ? 0 : $('#servings').val().trim());
    var prepMins = (isNaN($('#prepMins').val()) ? 0 : $('#prepMins').val().trim());
    var cookMins = (isNaN($('#cookMins').val()) ? 0 : $('#cookMins').val().trim());
    if ((recipeTitle) && (ingredientInfo.length > 0)) {

      var data = {
        title: recipeTitle,
        cuisine: $('#cuisine').val().trim(),
        type: $('#type').val().trim(),
        vegan: $('#vegan').val().trim(),
        vegetarian: $('#vegetarian').val().trim(),
        glutenFree: $('#glutenFree').val().trim(),
        servings: servings,
        preparationMinutes: prepMins,
        cookingMinutes: cookMins,
        instructions: $('#instructions').val().trim(),
        spoonID: 0,
        ingredients: ingredientInfo
      };
      $.ajax({
        type: 'POST',
        data: JSON.stringify(data),
        contentType: 'application/json',
        url: 'addRecipe',
        success: function(data, textStatus, jqXHR){
          $('form').find("input[type=text], textarea").val("");
          $('form').find("input[type=checkbox]").attr('checked',false);
          if (typeof(data.redirect) == 'string') {window.location = data.redirect}
        }
      })
    } else {
      $('#status').append("need a recipe title and at least one ingredient");
    }
  });
});

</script>


