<style>


button {
margin-top: 25px;
}

.recipeTitle {
  color: red;
}

.recipePic {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
}

</style>


{{!-- ************* MAIN HEADING ********************************** --}}
<div class="background-area content">
  <div class="containerTitle blurBackground">
    <h1 class="heading">Find a Recipe!</h1>
  </div>
  
  {{!-- ************* DIVISION FOR FORM ************************** --}}
  <div class="container">

    <form class="create-update-form"  action="findRecipe" method="POST">
      <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">&nbsp
          </div>
          <div class="panel-body">

            <div class="form-group">
              <label for="searchTerm" id="question1">Search Term:</label>
              <input class="form-control" type="text" id="searchIngredient" name="searchTerm">
            </div>

            <div class="form-group">
              <label for="vegan">Vegan?</label><br>
              <input type="radio" name="vegan" value="1">Yes
              <input type="radio" name="vegan" value="0">No
              <input type="radio" name="vegan" value="x" selected>Don't Care<br>
            </div>

            <div class="form-group">
              <label for="gluten">Gluten Free?</label><br>
              <input type="radio" name="gluten" value="1">Yes
              <input type="radio" name="gluten" value="0">No
              <input type="radio" name="gluten" value="x" selected>Don't Care<br>
            </div>

            <div class="form-group">

              <label for="vegetarian">Vegetarian?</label><br>
              <input type="radio" name="vegetarian" value="1">Yes
              <input type="radio" name="vegetarian" value="0">No
              <input type="radio" name="vegetarian" value="x" selected>Don't Care<br>
            </div>

            <div class="form-group">
              <label for="cuisine">Type of Cuisine</label><br>
              <select class="form-control" name="cuisine">
                <option value="any" selected>Any</option>
                <option value="African">African</option>
                <option value="American">American</option>
                <option value="British">British</option>
                <option value="Cajun">Cajun</option>
                <option value="Caribbean">Caribbean</option>
                <option value="Chinese">Chinese</option>
                <option value="Eastern+European">Eastern European</option>
                <option value="German">German</option>
                <option value="Greek">Greek</option>
                <option value="Indian">Indian</option>
                <option value="Irish">Irish</option>
                <option value="Italian">Italian</option>
                <option value="French">French</option>
                <option value="Japanese">Japanese</option>
                <option value="Jewish">Jewish</option>
                <option value="Korean">Korean</option>
                <option value="Latin+American">Latin American</option>
                <option value="Mexican">Mexican</option>
                <option value="Middle+Eastern">Middle Eastern</option>
                <option value="Southern">Southern</option>
                <option value="Spanish">Spanish</option>
                <option value="Thai">Thai</option>
                <option value="Vietnamese">Vietnamese</option>
                <option value="Nordic">Nordic</option>
              </select>
            </div>

            <div class="form-group">
              <label for="type">Type of Meal</label><br>
              <select class="form-control" name="type">
                <option value="any">Any</option>
                <option value="appetizer">Appetizer</option>
                <option value="beverage">Beverage</option>
                <option value="bread">Bread</option>
                <option value="breakfast">Breakfast</option>
                <option value="dessert">Dessert</option>
                <option value="drink">Drink</option>
                <option value="main+course">Main Course</option>
                <option value="salad">Salad</option>
                <option value="sauce">Sauce</option>
                <option value="side+dish">Side Dish</option>
                <option value="soup">Soup</option>
              </select>
            </div>

            <label for="canMake">Willing To Go To The Grocery Store?</label><br>
            <input type="radio" name="canMake" value="1">No
            <input type="radio" name="canMake" value="0">Yes<br>

            <button type="submit" value="Submit" id="findRecipe" class="btn btn-default">Submit</button>
          </div> {{!-- .panel-body --}}
        </div>
      </div>
    </form>
  </div>

  <div class="containerTitle blurBackground">
    <h1 class="heading">Search Results</h1>
  </div>

{{!-- blog start ============================ --}}
  <section id="blog">
    <div class="container">
        <div class="col-md-12">
          <div class="block">

            <ul>
            </ul>

          </div>
        </div>{{!-- .col-md-12 close --}}
    </div>{{!-- .containe close --}}

  </section>
</div>

<script>

  var toggleOne = 'fadeInLeft';
  var longMess = "";

  {{#each recipes}}
    var item = $('<li>');
    {{#if this.canMake}}
      message = '<p>All ingredients in stock</p>';
        {{else}}
      message = '<p>Some ingredients not in stock</p>';
    {{/if}}

    var index = {{@index}};
    if ((index % 2) == 0) {
      if (toggleOne == 'fadeInLeft') {
        console.log("switching to right");
        toggleOne = 'fadeInRight';}
        else {
        toggleOne = 'fadeInLeft';}
      }

    item.addClass('wow');
    item.addClass(toggleOne);
    item.addClass('data-wow-duration="300ms" data-wow-delay="300ms"');
    
    if (toggleOne == 'fadeInRight') {
      longMess = '<a href="oneRecipe/{{this.id}}"><div class="content-left"><h3>{{this.title}}</h3>' + message + '</div><div class="blog-img"><img class="recipePic" src="{{this.image}}" alt="recipe-img"></div></a>';

      } else {
      longMess = '<a href="oneRecipe/{{this.id}}"><div class="blog-img"><img class="recipePic" src="{{this.image}}" alt="recipe-img"></div><div class="content-right"><h3>{{this.title}}</h3>' + message + '</div></a>';
      };

    item.append(longMess);
    $('#blog').find('ul').append(item);


  {{/each}}



</script>
