<style>
.panel-body a
    {
        word-break:break-all;
    }
.sameLine {display: inline-block;}
button {margin-left: 10px;
        outline: none;
        border: none;
        background: none;}
.categoryUL {display: none;}
.inlineB {display: inline-block;
          vertical-align: top;
          width: 300px;}
/*.ingredients {overflow: scroll; }*/
.ingredients {height: 35em;
              overflow:scroll;
              border:7px solid;
              padding:1%; }
.allOutStyle {
  background-color: grey;
  font-weight: 200;
}
.inPantryStyle {
  background-color: green;
  font-weight: bold;
}

</style>

{{! ************* MAIN HEADING}}
<div class="container">
  <div class="row"
    <div class="col-md-12">
      <div class="block">
      <h1 class="heading"><span> UPDATE YOUR PANTRY </span></h1>

        {{! ************* DIVISION FOR INGREDIENTS IN PANTRY}}
        <div class="col-xs-12 col-md-7 ingredients">
          <div class="container inlineB pantry">
            <div class="containerTitle">
              <h2><strong>List of Ingredients</strong></h2>
              </br>
              <div class="ingredientContainer" id="pantryList">
                {{! ***** ingredients go here}}

                {{#each categories}} 
                <div>
                  <h4 class="categorySection">{{this.className}}</h4>
                  <ul class = "categoryUL catID{{this.id}}">

                  </ul>
                </div>
                {{/each}}

              </div>
            </div>
          </div>
        </div>

        {{! ************* DIVISION FOR FORM TO ADD INGREDIENT}}
        <div class="col-xs-12 col-md-5 ingredients">
          <div class="block">
            <div class="container inlineB addIngredient">
              <div class="containerTitle">
                <form role="form" class="create-update-form" action="ingredient/update" method="POST">
                  <div class="form-group">
                    <!-- Here we create the text box for capturing the search term-->
                    <label for="search">
                      <h2><strong>Add Your Ingredient Here: </strong></h2>
                    </label>
                    </br>
                    <input type="text" class="form-control" id="bu" name="name">
                    </br>
                    <div class="categoryContainer" id="categoryList">
                      <select name="category" class="form-control" id="categoryOptions">

                      {{#each categories}}
                        <option value="{{this.name}}">{{this.className}}</option>
                      {{/each}}

                      </select>
                    </div>
                    </br>
                    </br>
                    </br>
                    <button id="add" type="submit" class="btn btn-default" ><i class="fa fa-check-square"></i> Add Now</button>
                    <button type="button" class="btn btn-default" id="clearAll"><i class="fa fa-trash"></i> Clear Results</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>


      </div> {{!end of block div}}
    </div> {{! end of col-md-12 div}}
  </div> {{! end of row div}}


</div>

{{!  ******************SCRIPT FILE HERE *****************}}
<script>


  {{! *** CREATE THE HTML FOR EACH INGREDIENT ****}}
  {{! ********* AND APPEND IT TO THE APPROPRIATE DIVISION *******}}
  
  {{#each ingredients}}


    var ingredientLI = $('<li>');

    var statusStyle =({{this.inPantry}} ? "inPantryStyle" : "allOutStyle");
    var changeStatusTo = ({{this.inPantry}} ? "0" : "1");
    
    ingredientLI.append('<button data-id="{{this.id}}" data-pantryStatus="' + changeStatusTo + '" class="ingrButton ' + statusStyle + '" type="button">{{this.name}}</button>');


    $('#pantryList').find('.catID{{this.CategoryId}}').append(ingredientLI);
      
  {{/each}}



  $(document).ready(function() {
    $('.categorySection').on('click', function(event){
      console.log("this was clicked");
      event.stopPropagation();
      $(this).closest('div').find('.categoryUL').slideToggle();
      })


    $('#pantryList').on('click', '.ingrButton', function(){
      var updateURL = "ingredient/update/" + $(this).attr('data-id');
      var ingButton = $(this);
      var value = $(this).attr('data-pantryStatus');
      $.post(updateURL,
        {inPantry: value}, 
        function(result){
          if(result == "0"){
            ingButton.removeClass('inPantryStyle');
            ingButton.addClass('allOutStyle');
            ingButton.attr('data-pantryStatus', '1');
          } else {
            ingButton.removeClass('allOutStyle');
            ingButton.addClass('inPantryStyle');
            ingButton.attr('data-pantryStatus', '0');
          }
        })
    });

  });


</script>

