<style>
.panel-body a
    {
        word-break:break-all;
    }
.sameLine {display: inline-block;}
button {margin-left: 10px;
        outline: none;
        border: none;
        background: none;}
.categoryUL {display: none;}
.inlineB {display: inline-block;
          vertical-align: top;
          width: 300px;}
/*.ingredients {overflow: scroll; }*/
.ingredients {height: 35em;
              overflow:scroll;
              border:7px solid;
              padding:1%; }
</style>

{{! ************* MAIN HEADING}}
<div class="container">
  <div class="row"
    <div class="col-md-12">
      <div class="block">
      <h1 class="heading"><span> UPDATE YOUR PANTRY </span></h1>

        {{! ************* DIVISION FOR INGREDIENTS IN PANTRY}}
        <div class="col-xs-12 col-md-6 ingredients">
          <div class="container inlineB inPantry">
            <div class="containerTitle">
              <h2><strong>Ingredients that you have</strong></h2>
              </br>
              <div class="ingredientContainer" id="inPantryList">
                {{! ***** ingredients go here}}

                {{#each categories}} 
                <div>
                  <h4 class="categorySection">{{this.className}}</h4>
                  <ul class = "categoryUL catID{{this.id}}">

                  </ul>
                </div>
                {{/each}}

              </div>
            </div>
          </div>
        </div>



        {{! ************* DIVISION FOR INGREDIENTS NOT IN PANTRY}}
        <div class="col-xs-12 col-md-6 ingredients">
          <div class="container inlineB notInPantry">
            <div class="containerTitle">
              <h2><strong>Ingredients you do not have</strong></h2>
              </br>
              <div class="ingredientContainer" id="notInPantryList">
                {{! ***** ingredients go here}}

                {{#each categories}} 
                <div>
                  <h4 class="categorySection">{{this.className}}</h4>
                  <ul class = "categoryUL catID{{this.id}}">

                  </ul>
                </div>
                {{/each}}

              </div>
            </div>
          </div>
        </div>

      </div> {{!end of block div}}
    </div> {{! end of col-md-12 div}}
  </div> {{! end of row div}}


  <div class="row"

    {{! ************* DIVISION FOR FORM TO ADD INGREDIENT}}
    <div class="col-xs-12 col-md-4 ingredients">
      <div class="block">
        <div class="container inlineB addIngredient">
          <div class="containerTitle">
            <form role="form" class="create-update-form" action="ingredient/update"method="POST">
              <div class="form-group">
                <!-- Here we create the text box for capturing the search term-->
                <label for="search">
                  <h2><strong>Add Your Ingredient Here: </strong></h2>
                </label>
                </br>
                <input type="text" class="form-control" id="bu" name="name">
                  </br>
                  <div class="categoryContainer" id="categoryList">
                    <select name="category" class="form-control" id="categoryOptions">

                    {{#each categories}}
                      <option value="{{this.name}}">{{this.name}}</option>
                    {{/each}}

                    </select>
                  </div>
                  </br>
                  </br>
                  </br>
                  <button id="add" type="submit" class="btn btn-default" ><i class="fa fa-check-square"></i> Add Now</button>
                  <button type="button" class="btn btn-default" id="clearAll"><i class="fa fa-trash"></i> Clear Results</button>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

{{!  ******************SCRIPT FILE HERE *****************}}
<script>


  {{! *** CREATE THE HTML FOR EACH INGREDIENT ****}}
  {{! ********* AND APPEND IT TO THE APPROPRIATE DIVISION *******}}
  
  {{#each ingredients}}

    var ingredientLI = $('<li>');
    ingredientLI.append('<span class="ingredientName sameLine">{{this.name}}</span>');

    if ({{this.inPantry}} == true) {

      ingredientLI.append('<form class="sameLine" action="ingredient/update/{{this.id}}?_method=PUT" method="POST"><input type="hidden" name="inPantry" value="false"><button type="submit">x</button></form>');

      $('#inPantryList').find('.catID{{this.CategoryId}}').append(ingredientLI);
      
    } else {

      ingredientLI.append('<form class="sameLine" action="ingredient/update/{{this.id}}?_method=PUT" method="POST"><input type="hidden" name="inPantry" value="true"><button type="submit">x</button></form>');

      $('#notInPantryList').find('.catID{{this.CategoryId}}').append(ingredientLI);
    }
  {{/each}}



  $(document).ready(function() {
    $('.categorySection').on('click', function(event){
      console.log("this was clicked");
      event.stopPropagation();
      $(this).closest('div').find('.categoryUL').slideToggle();
      })
  });
</script>

