<style>


.recipePic {
  margin: 3em auto;
  width: 100%;
  height: 40em;
  border: 2px solid white;
  border-radius: 4px;
}

.instructions {
  font-size: 25px;
}
.ingrInfo {
  width: 100px;
  font-size: 25px;
}

.infoBlock {
  background-color: white;
  border-radius: 4px;
  padding: 4em;
  opacity: 0.8;
  border: 1px solid white;
  margin: 3em auto;
}

.limitHeight {
  height: 40em;  
}

h3 {
  font-size: 25px;
  line-height: 35px;
}

h2 {
  font-size: 20px;
  line-height: 30px;
  color: red;
}

.infoBlock a {
  font-size: 15px;
  line-height: 20px;
  color: green;
  word-break:break-all;
}

th {
  font-size: 19px;
  font-weight: 800;
}

td {
  font-size: 18px;
  font-weight: 700;
}

p{
  font-size: 15px;
  line-height: 30px;
}

</style>

  {{! ************* MAIN HEADING}}

<div class="background-area content">
  <div class="containerTitle blurBackground">
    <h1 class="heading">{{recipe.title}}</h1>
  </div>
  <div class="container">


    <div class="row">
      <div class="col-md-7">
          <img class="recipePic" src={{recipe.image}}>
      </div>
      <div class="col-md-5 infoBlock limitHeight">

        {{#if canMake}}
          <h2>All Ingredients In Stock</h2>
        {{else}}
          <h2>You'll need to shop for some ingredients</h2>
        {{/if}}
        <hr>
        <h3>Preparation Time: {{recipe.preparationMinutes}} minutes</h3>
        <h3>Cooking Time: {{recipe.cookingMinutes}} minutes</h3>
        <h3>Number of Servings:&nbsp{{servings}}</h3>
        <hr>
        <h3>Vegetarian: 
          {{#if vegetarian}}
            yes
            {{else}}
            no
          {{/if}}
        <h3>Vegan: 
          {{#if vegan}}
            yes
          {{else}}
            no
          {{/if}}
        <h3>Gluten Free:
          {{#if glutenFree}}
            yes
          {{else}}
            no
          {{/if}}
          <hr>
          <a href="{{recipe.sourceUrl}}">Source:&nbsp{{recipe.sourceUrl}}</a>

        </div>
      </div> {{!-- .row --}}
      <div class="col-md-6 infoBlock">

        <table class="table borderTable">
          <tr>
            <th>Ingredient</th>
            <th>Amount</th>
            <th>Unit</th>
            <th>In Stock</th>
          </tr>
          {{#each ingredients}}
            <tr>
              <td>{{this.name}}</td>
              <td>{{this.Recipeingredients.amount}}</td>
              <td>{{this.Recipeingredients.unit}}</td>
              {{#if this.inPantry}}
                <td>yes</td>
              {{else}}
                <td>no</td>
              {{/if}}
            </tr>
          {{/each}}
        </table>

      </div>
      <div class="col-md-6 infoBlock">
        <h3>Instructions</h3>
        <hr>
        <p class="instructions">{{recipe.instructions}}</p>
      </div>

    </div>
  </div>
</div>

